@font-face {
    font-family: 'FranklinBook';
    src: url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Book.eot?#iefix'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Book.woff') format('woff'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinDmCp';
    src: url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-DmCp.eot?#iefix'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-DmCp.woff') format('woff'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-DmCp.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinMed';
    src: url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Med.eot?#iefix'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Med.woff') format('woff'),
         url('++resource++plonetheme.centraalmuseum/ITCFranklinGothicStd-Med.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.FranklinBook() {
    font-family: 'FranklinBook', Arial, sans-serif;
}

.FranklinDmCp() {
    font-family: 'FranklinDmCp', Arial, sans-serif;
}

.FranklinMed() {
    font-family: 'FranklinMed', Arial, sans-serif;
}

.backendFont() {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

@brand-primary: #282931;
@brand-primary-titles: #282931;
@brand-primary-text: #494A51;
@brand-primary-lines: #EAEAEA;

@gray-dark: lighten(black, 25%);
@gray: lighten(black, 50%);
@white-faded: fade(white, 80%);
@gray-light: #eee;


